<h2>Welcome <%= @user.username %>!</h2>

<form action="/books" method="POST">
<% if current_user.books.empty? %>
    <%= flash[:message] %><br><br>
<% end %>
    <h2>Here is your Favorite Books</h2>

<ul>
<% @books.each do |book| %>
    <li><a href="/books/<%= book.id %>"><%= book.name %></a></li>
<% end %>
</ul>
