<h2>Create a new Book</h2>
<form action="/books" method="POST">

<% if flash.has?(:message) %>
    <%= flash[:message] %><br><br>
<% end %>

<label for="name">Name:</label><br>
<input type="text" name="name" required><br><br>

<label for="author">Author:</label><br>
<input type="text" name="author" required><br><br>

<label for="genre">Genre:</label><br><br>
<input type="text" name="genre" required><br><br>

<input type="submit" value="Create Book">

</form>