<h2>Create a new Book</h2>
<form action="/books" method="POST">

<% if flash.has?(:message) %>
    <%= flash[:message] %><br><br>
<% end %>

<label for="name">Name:</label><br>
<input type="text" name="name" required><br><br>

<label for="author">Author:</label><br>
<input type="text" name="author" required><br><br>

<laber for="genre">Genre:</label><br><br>
<input type="checkbox" id="self-development" name="genre" value="Self Development">
<label for="self-development">Self Development</label><br>
<input type="checkbox" id="memoir" name="genre" value="Memoir">
<label for="memoir">Memoir</label><br>
<input type="checkbox" id="novel" name="genre" value="Novel">
<label for="novel">Novel</label><br>
<input type="checkbox" id="fiction" name="genre" value-="Fiction">
<label for="fiction">Fiction</label><br>
<input type="checkbox" id="non-fiction" name="genre" value="Non Fiction">
<label for="non-fiction">Non Fiction</label><br>
<input type="checkbox" id="mystery" name="genre" value="Mystert">
<label for="mystery">Mystery</label><br>
<input type="checkbox" id="romance" name="genre" value="Romance">
<label for="romance">Romance</label><br><br>

<input type="submit" value="Create Book">

</form>