<!DOCTYPE html>
<head>
<title>BookClubFavorites</title>
<link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
<div class="wrapper">
  <header><img alt="Reading books around coffee table" src="/images/Book Club Favorites.png" 
  style="width: 600.262px; height: 315px; margin: 0px;"></header>
  
  <nav>
    <ul>
    <% if logged_in? %>
    <li><a href="/books">All Books</a></li>
        <li><a href="/<%= current_user.slug %>/favorites">Favorite List</a></li>
        <li><a href="/books/new">Add Book</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/logout">Log Out</a></li>
    <% else %>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href="">Blog</a></li>
    <% end %>
    </ul>
  </nav>
  <br><br>
  </header>
    
      <%= yield %>

    <footer class="branding">
    <div class="row">
    <div class="column"><small>&copy; 2020 <strong>BookClubFavorites</strong></small></div>
    
    </footer>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
  <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
</body>
</html>