<div class="container">
  <header><img alt="Reading Book Book Club Read, Know How, C4d, Stereogram PNG and ..." class="n3VNCb" 
  src="https://png.pngtree.com/png-clipart/20190520/original/pngtree-reading-book-book-club-read-png-image_3945614.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 311.674px; height: 287px; margin: 0px;"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>About Book Club Favorites</h2>

    <div class="content">
      <p>Welcome to the Book Club Favorites! This is a place where user's can
      create a user account, browse books by other users, add their own favorite books,
      share it by creating a favorite's list.
    </div>

    <div class="wrapper">
    
      <h3>Genres</h3>
      <ul>
        <li><b>Novel:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
