<h2>About Book Club Favorites</h2>

  <div class="content">
    <p>Welcome to the Book Club Favorites! This is a place where user's can
    create a user account, browse books by other users, add their own favorite books,
    share it by creating a favorite's list.</p>
  </div>

